@import url('https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap');

* {
font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 800;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #271828;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #F5F9F3;
}

.App-link {
  color: #B895AF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.nav {
  background-color: #271828;
  color: #B895AF;
  width: 100%;
  top: 0;
  position: fixed;
  text-align: left;
}

.nav .brand a, .nav .brand a:active, .nav .brand a:visited{
  color: #EC8E72;
}

.nav li{
  font-family: 'Staatliches', cursive;
  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  padding: 0em 1em;
  vertical-align: middle;
  transform: translateY(-30%);
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.descript {
  color: #B895AF;
  font-size: 0.75em;
  margin: 0;
  padding: 5em 18em;
}


/* CONTENT ANALYSIS */

.content-container{
  position: absolute;
  top: 100px;
  width: 100%;
  bottom: 0;
}

.content-display, .content-analysis {
  display: inline-block;
  margin: 0% 1%;
  width: 48%;
  position: relative;
  height: 98%;
  background-color: #7d687e80;
  overflow: scroll;
  text-align: left;
}

.content-display p,  .content-analysis p{
  width: 100%;
  font-size: 0.5em;
}

.content-display p {
  left: 0px;
}
.content-analysis p{
  right: 0px;
}

.content-analysis h2 {
  font-size: 1em;
}
.content-analysis h3 {
  font-size: 0.75em;
}

.content-analysis div {
  height: 35%;
  padding: 5%;
  overflow: scroll;
}

.paste-article {
width: 100%;
}

.comment {
  padding: 0px !important;
}

.comment textarea {
  width: 100%;
}

.text-input {
  color: #271828;
  font-weight: 500;
  padding: 10px;
  font-size: medium;
  background-color: #F5F9F3;
  width: 50%;
  margin: 20px;
}

.paste-article {
height: 15em;
max-height: 15em;
}
.paste-link {
height: 1em;
max-height: 1em;
}


.Card {
  background-color: white;
  padding: 32px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}


/* Large desktop */
@media (min-width: 1200px) {

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {

 }