.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #271828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F5F9F3;
}

.App-link {
  color: #B895AF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #271828;
  color: #B895AF;
  width: 100%;
  top: 0;
  position: fixed;
  height: 2em;
  text-align: left;
}

.nav .brand {
  color: #EC8E72;
  font-size: 1.25em;

}

.descript {
  color: #B895AF;
  font-size: 0.75em;
  margin: 0;
  padding: 5em 18em;


}

a {
  text-decoration: none;
  font-weight: 800;

}
.nav li{
  list-style: none;
  display: inline-block;
  font-size: 0.75em;
  padding: 0em 1em;
  vertical-align: middle;
}